import React, { useState } from 'react';
import { <%= interfaceName %> } from '<%= typePath %>';
import { getTableColumns } from './utils';
import { getMockData } from './mock';
import Table from '@yyfe/Table'

export default (props:any) =>{
    const [dataSource,setDataSource]  = useState<<%=interfaceName %>[]>();
    const columns = getTableColumns();
    useEffect(()=>{
        setDataSource(getMockData());
    },[])
    return <Table columns={columns} dta={dataSource}>
    </Table>
}